@import "bootstrap";
$font-size-icon: ceil(($font-size-base * 2.625));

html { font-size: 16px; }

#wrap > div {
  padding: 2em;
}

.module {
  margin: 0 0 12% 0;
}

.sub-module {
  margin-bottom: 6%;
}

#side {
  background: $brand-primary;
  color: $gray-lighter;
  float: left;
  font-size: $font-size-small;
  @media screen and (min-width: 47em) {
    max-width: 21em;
    width: 30%;
  }
  &.is_stuck {
    left: 0;
    padding: 2em;
    & > section {
      margin-bottom: 16%;
    }
  }
  a {
    color: $gray-lighter;
    &:hover {
      color: white;
    }
  }
  h1 {
    font-size: $font-size-h2;
  }
  h2 {
    border-bottom: 1px solid rgba(255,255,255,0.12);
    font-size: $font-size-h3;
  }
}

#wide {
  @media screen and (min-width: 47em) {
    overflow: hidden;
    padding: 2em;
  }
  .meta {
    border-left: 1px solid $gray-light;
    color: $gray-light;
    p {
      margin: 0;
      padding-left: .5em;
    }
  }
}

#iam {
  font-size: floor(($font-size-base * 3));
  margin-top: 10%;
  margin-bottom: 8%;
  @media screen and (min-width: 47em) {
    margin-top: 1%;
  }
  .no-rotate {
    display: inline;
  }
  .rotate {
    display: none;
  }
  @media screen and (min-width:47em) {
    .no-js & {
      .rotate {
        display: none;
      }
    }
    .js & {
      .rotate {
        display: inline;
      }
      .no-rotate {
        display: none;
      }
    }
  }
}

h1, h2 {
  text-align: center;
}

h2 {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: 0 0 .75rem 0;
  padding: 0 0 .75rem 0;
}

#logo {
  @extend .img-circle;
  @extend .center-block;
  @include img-responsive;
}

#carousel-quotes {
  .carousel-control {
    color: $gray-lighter;
    text-shadow: none;
    &.left, &.right {
      background: none;
    }
  }
  ul {
    @extend .list-inline;
    @extend .text-center;
  }
}

.quote {
  margin-bottom: $line-height-computed;
  blockquote {
    margin-bottom: 0;
  }
  figcaption {
    @include bq-attr;
    @include bq-border;
    @extend .text-right;
    padding-bottom: ($line-height-computed / 2);
  }
}

#contact ul {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  li {
    /*display: inline-block;*/
    font-size: $font-size-icon;
    margin: 1% 4%;
    a {
      opacity: .75;
      transition: all 1s ease;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
      &[href*="jsfiddle"] {
        font-size: 1.2em;
        line-height: 1;
      }
    }
  }
}

#skills {
  @extend .row;
  div {
    @extend .col-md-8;
  }
  aside {
    @extend .col-md-4;
  }
  h3 {
    @extend h4;
  }
}

footer {
  background: #222;
  color: $gray-light;
  font-size: $font-size-small;
  padding: 3em 0;
  text-align: center;
}