@import "bootstrap";
$font-size-icon: ceil(($font-size-base * 2.625));

html { font-size: 16px; }

body > div > div {
  padding: 2em;
  & > section {
    margin: 0 0 12% 0;
    & > section {
      margin-bottom: 6%;
    }
  }
}

#side {
  background: $brand-primary;
  color: $gray-lighter;
  float: left;
  font-size: $font-size-small;
  @media screen and (min-width: 47em) {
    max-width: 21em;
    width: 30%;
  }
  &.is_stuck {
    left: 0;
    padding: 2em;
    & > section {
      margin-bottom: 16%;
    }
  }
  a {
    color: $gray-lighter;
    &:hover {
      color: white;
    }
  }
  h1 {
    font-size: $font-size-h2;
  }
  h2 {
    border-bottom: 1px solid rgba(255,255,255,0.12);
    font-size: $font-size-h3;
  }
}

#wide {
  @media screen and (min-width: 47em) {
    overflow: hidden;
  }
  h1 {
    font-size: floor(($font-size-base * 3));
    margin-top: 5%;
    margin-bottom: 4%;
    @media screen and (min-width: 47em) {
      margin-top: 1%;
    }
  }
}

h1, h2 {
  text-align: center;
}

h2 {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: 0 0 .75rem 0;
  padding: 0 0 .75rem 0;
}

#logo {
  @extend .img-circle;
  @extend .center-block;
  @include img-responsive;
}

#contact ul {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    font-size: $font-size-icon;
    margin: 1% 4%;
    a {
      opacity: .75;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
      &[href*="jsfiddle"] {
        font-size: 1.2em;
        line-height: 1;
      }
    }
  }
}

footer {
  background: #222;
  color: $gray-light;
  font-size: $font-size-small;
  padding: 3em 0;
  text-align: center;
}